html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #4A96AD;
  text-align: center;
  font-size: 16px;

  background: url(../img/kaiji-bg.jpg) no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  background: rgba(0, 0, 0, 0.9);
  padding: 25px 25px 45px 25px;
  border-radius: 3px;

  max-width: 290px;
  max-height: 180px;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

  text-align: center;
}

.colored-msg {
  font-weight: bold;
  animation: hue-rotate 5s linear infinite;
}

.social {
  font-size: 18px;
  margin-right: 10px;

  color: #fff;

  border: 2px solid;
  border-radius: 100%;

  transition: .2s;
}

.social:last-child {
  margin-right: 0;
}

.social.facebook {
  border-color: #3b5998;
  padding: 10px 16px;
}

.social.facebook:hover {
  background-color: #3b5998;
}

.social.twitter {
  border-color: #1da1f2;
  padding: 10px 13px;
}

.social.twitter:hover {
  background-color: #1da1f2;
}

.social.instagram {
  border-color: #c13584;
  font-size: 19px;
  padding: 10px 13.5px;
}

.social.instagram:hover {
  background-color: #c13584;
}


@media screen and (max-width: 450px) {
  .center {
    background: rgba(0, 0, 0, 0.78);
  }
}
