@font-face {
    font-family: notoRegular;
    src: url(../fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: notoBold;
    src: url(../fonts/NotoSans-Bold.ttf);
}

body {
	font-family: notoRegular;
	font-size: 16px;
	position: relative;
}

#maps_offline {
	display: none;
}

.javascript_alert {
	text-align:center;
	padding:70px 15px 20px 15px;
	font-size:20px;
	margin: 0px;

	background: rgb(235, 204, 209);
}

.javascript_alert i, .bold {
	font-weight:bold;
}

.javascript_alert_mg {
	padding: 2px 10px 5px 10px;
}

.background_title {
	background: url(../img/DSC_00021.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 0%;

	height: 768px; /*380*/
}

.overlay_map {
    background: rgba(0,0,0,0.1);
    position: relative;
    width: 100%;
    height: 450px;
    top: 450px;
    margin-top: -450px;
    z-index: 200;

    text-align: center;
}

.overlay_map_after {
	background: transparent;

	z-index: -200;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.button_map {
	position: absolute;
	top: 65%;
	height: 45px;

	color: #fff;
	background-color: #3674ad;
	border-color: #2a5a86;

	-ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	border-bottom: 3px solid #244d73 !important;/*#adadad;*/
	font-size: 20px;

	box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2), 2px 4px 8px 2px rgba(0, 0, 0, 0.19);

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.button_map:hover {
	color: #fff;
	background-color: #30679a;
	border-color: #2a5a86;

	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}

.button_map:active {
	color: #fff;
	background-color: #30679a;
	border-color: #2a5a86;
}

.button_map:focus {
	color: #fff;
	background-color: #30679a;
	border-color: #2a5a86;
}

.button_map_after {
	display: none;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.scroll_down {
	color: #fff;
	font-size: 60px;

	position: absolute;

	bottom: 20px;
	left: 50%;

	-ms-transform: translate(-50%, -20%);
    -webkit-transform: translate(-50%, -20%);
	transform: translate(-50%, -20%);

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;

	text-shadow: -0.5px 0 4px rgba(0,0,0, 0.4), 0 0.5px 4px rgba(0,0,0, 0.4), 0.5px 0 4px rgba(0,0,0, 0.4), 0 -0.5px 4px rgba(0,0,0, 0.4);
}

.scroll_down:hover {
	color: #fff;
	font-size: 75px;

	bottom: 0px;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.scroll_down:link {
	color: #fff;
}

.scroll_down:active {
	color: #fff;
}

.scroll_down:visited {
	color: #fff;
}

.scroll_down_icon {
	-webkit-animation: pulse 1.8s linear 1s infinite;
    animation: pulse 1.8s linear 1s infinite;
}

.scroll_down_icon:hover {
	-webkit-animation: none;
    animation: none;
}

@-webkit-keyframes pulse {	
	0% {
		-ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}

	15% {
		-ms-transform: scale(1.3);
	    -webkit-transform: scale(1.3);
	    transform: scale(1.3);
	}

	30% {
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}

	65% {
		-ms-transform: scale(1.3);
	    -webkit-transform: scale(1.3);
	    transform: scale(1.3);
	}

	80% {
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
}

@keyframes pulse {	
	0% {
		-ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}

	15% {
		-ms-transform: scale(1.3);
	    -webkit-transform: scale(1.3);
	    transform: scale(1.3);
	}

	30% {
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}

	65% {
		-ms-transform: scale(1.3);
	    -webkit-transform: scale(1.3);
	    transform: scale(1.3);
	}

	80% {
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-ms-transform: scale(1);
	    -webkit-transform: scale(1);
	    transform: scale(1);
	}
}

.service_block {
	border: 2px solid #3674ad;
	padding: 10px;
	padding-top: 125px;
	text-align: center;
	background: #fff;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.service_block:hover {
	border: 2px solid #3674ad;
	color: #fff;
	padding: 10px;
	padding-top: 125px;
	text-align: center;
	background: #3674ad;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.service_block p {
	text-align: center;
}

.service_title {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #3674ad;
	font-weight: bold;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.service_block:hover .service_title {
	color: #fff;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.service_box {
    display: block;
    /* transition: all 300ms ease-out 0s; */
    margin-bottom: -120px;
    position: relative;
    z-index: 0;
}

.service_box img {
    height: 200px;
    width: 200px;

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: #fff;

        border: 2px solid #3674ad;
    border-radius: 100%;
    margin: 0 auto 16px;
    /* transition: all 600ms ease-out 0s; */
    width: 200px;
    height: 200px;
}

.service_box:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

@media screen and (max-width:768px) {
	.service_block {
		min-height: auto !important;
	}	
}

@media screen and (max-width:992px) {
	.service_block {
		min-height: 425px;
	}	
}

@media screen and (min-width:993px) {
	.service_block {
		min-height: 420px;
	}	
}

.page_title_block {
	margin-top:180px;
}

.page_title {
	font-family: notoBold;	
}

.page_title a {
	/*border: 2px solid #000;
	padding: 0px 10px 5px 10px;*/
	color: #fff;
	font-size: 60px;
	text-shadow: -0.5px 0 2px rgba(0,0,0, 0.4), 0 0.5px 2px rgba(0,0,0, 0.4), 0.5px 0 2px rgba(0,0,0, 0.4), 0 -0.5px 2px rgba(0,0,0, 0.4);
}

.page_title a:hover {	
	color: #fff;
	text-decoration: none;
}

.page_title a:active {	
	color: #fff;
	text-decoration: none;
}

.page_title a:visited {	
	color: #fff;
	text-decoration: none;
}

.page_title a:link {	
	color: #fff;
	text-decoration: none;
}

.subtitle {
	color: #fff;
	font-size: 28px;

	display: inline-block;
	margin-bottom: 10px;
	margin-top: 0px;

	padding: 0px 10px 5px 10px;

	line-height: 1.45;

	background-color: rgba(54, 116, 173, 0.8);
	
	border-radius: 3px;

	text-shadow: -0.5px 0 1px rgba(0,0,0, 0.4), 0 0.5px 1px rgba(0,0,0, 0.4), 0.5px 0 1px rgba(0,0,0, 0.4), 0 -0.5px 1px rgba(0,0,0, 0.4);

	/*
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
	*/
}

@media screen and (max-width:992px) {
	.background_title {
		height: 500px !important;
	}

	.page_title_block {
		margin-top:120px;
		-ms-transform: translate(0%, 0%);
	    -webkit-transform: translate(0%, 0%);
		transform: translate(0%, 0%);
	}

	.page_title a {
		font-size: 42px;
	}

	.subtitle {
		font-size: 24px;
	}

	.scroll_down {
		display: none;
	}
}

@media screen and (max-width:768px) {

	.background_title {
		height: 420px !important;
	}

	.page_title_block {
		margin-top:80px;
	}

	.page_title a {
		font-size: 36px;
	}

	.subtitle {
		font-size: 22px;
	}

	.bg_image {
		background: #f5f5f5;		
	}

	.javascript_alert {
		padding:20px 15px 20px 15px;
	}
}

h2 {
	text-align: center;
}

h4 {
	color: #3674ad;
}

#contact {
	background: url(../img/DSC_00021.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: 50% 50%;

	color: #fff;

	text-shadow: -0.5px 0 4px rgba(0,0,0, 0.4), 0 0.5px 4px rgba(0,0,0, 0.4), 0.5px 0 4px rgba(0,0,0, 0.4), 0 -0.5px 4px rgba(0,0,0, 0.4);

}

#contact hr {
	box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
}

input.form-control {
    background: rgba(0,0,0,0.6);
    color: #ddd;

    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

textarea.form-control {
    max-width: 100%;
    max-height: 250px;
    background: rgba(0,0,0,0.6);
    color: #ddd;

	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

a.phone_color {
	color: #fff;
	text-decoration: none;
}

button.btn-default {
	border-bottom: 3px solid #adadad;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width:768px) {
	#contact {
		background: #f5f5f5;
		color: #333;
		text-shadow: none;
	}

	input.form-control {
		background: #fff;
		color: #555;
		box-shadow: none;
	}

	textarea.form-control {
		background: #fff;
		color: #555;
		box-shadow: none;
	}

	button.eraser {		
		box-shadow: none;
	}

	button.send {
		box-shadow: none;
	}

	a.phone_color {
		color: #337ab7;
	}

	#contact hr {
		box-shadow: none;
	}
}

.socio {
	margin-bottom:20px;
	min-height: 120px;
	text-align: center;
}

.socio img {
	-webkit-filter: grayscale(1);
  	filter: grayscale(1);
  	opacity: 0.5;
  	margin: 0 auto;
}

button.send {
	border-bottom: 3px solid #adadad;    
	border-color: #ccc;
	color: #333;
    background-color: #fff;
}

button.send:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

@media (min-width: 768px) {
    button.send {
		background: rgba(0,0,0,0.8);
		color: #ddd;
		box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4); 	
	}

	button.send:hover {
		background: rgba(0,0,0,0.9);
		color: #ddd;
	}

	button.send:focus {
		background: rgba(0,0,0,0.9);
		color: #ddd;
	}

	button.send:active {
		background: rgba(0,0,0,0.9);
		color: #ddd;
	}
}

.data_icon {
	border-radius: 100%;
	padding: 45px;
	font-size: 45px;
	color: #3674ad;
	background: #fff;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.data_icon:hover {	
	color: #fff;
	background: #3674ad;

	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

/*
.data_font {
	color: #3674ad;
	background: #fff;
	padding: 2px 10px 5px 10px;
	border-radius: 3px;

	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
*/

/*
.icon_color {

}
*/

.img_profile {
	border-radius: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
   
    box-shadow: 0px 2px 5px 1px #d6d6d6;
}

.content_section {
	padding-top: 40px;
	padding-bottom: 40px;
}

.navbar-fixed-top {
    display: block;
    border-width: 0 0 2px 0;
}

.navbar-fixed-top_height {
    display: none;
}

.navbar-default {
    background-color: rgba(54, 116, 173, 0.9);/*#f8f8f8;*/
    border-color: #244d73;/*#e7e7e7;*/
   
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.1);

}

nav ul {
	font-size: 0;
}

nav ul li a {
	font-size: 18px;
	text-shadow: -0.5px 0 1px rgba(0,0,0, 0.2), 0 0.5px 1px rgba(0,0,0, 0.2), 0.5px 0 1px rgba(0,0,0, 0.2), 0 -0.5px 1px rgba(0,0,0, 0.2);

	text-align: center;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

nav ul li a:hover {

    background-color: rgba(42, 90, 134, 0.9) !important;

	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgba(36, 77, 115, 0.9) !important;
}

.navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: rgba(42, 90, 134, 0.9) !important;
}

.navbar-header {
	background-color: transparent;
}

nav ul li a:link {
    color: #fff !important;
}

nav ul li a:visited {
    color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    background-color: rgba(54, 116, 173, 0.9);
    margin-right: 20px;
    margin-top: 20px;

    padding: 12px 12px;

    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
}

.navbar-toggle .icon-bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 1px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle:hover {
    background-color: #2a5a86 !important;
}

.navbar-toggle:focus {
    background-color: #2a5a86 !important;
}

@media (min-width: 768px) {
    .navbar-centered .navbar-nav {
        float: none;
        text-align: center;
    }
    .navbar-centered .navbar-nav > li {
        float: none;
    }
    .navbar-centered .nav > li {
        display: inline;
    }
    .navbar-centered .nav > li > a {
        display: inline-block;
    }
}

@media screen and (max-width:768px) {
	.navbar-default {
	    background-color: transparent;
	    border-color: transparent;
	    box-shadow: none;
	}

	.navbar-collapse {
		background-color: rgba(54, 116, 173, 0.9);
		min-width: 180px;
		float: right;
		margin-right: 5px;
		border-radius: 4px;

		box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);

	}
}

hr {
	margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #3674ad;
	width: 75px;
}

p {
	text-align: justify;
}

ul {
	padding-left: 0px;
}

ul li {
	display: inline-block;
}

ul li.about {
    position: absolute;
    top: 0px;
    left: -170px;
    width: 213px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

ul li.about:hover {
    left: 0px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

ul li.servicios {
    position: absolute;
    top: 50px;
    left: -199px;
    width: 248px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

ul li.servicios:hover {
    left: 0px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

ul li.history {
    position: absolute;
    top: 100px;
    left: -91px;
    width: 133px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

ul li.history:hover {
    left: 0px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

ul li.contact {
    position: absolute;
    top: 150px;
    left: -102px;
    width: 143px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

ul li.contact:hover {
    left: 0px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}


ul li.maps {
    position: absolute;
    top: 200px;
    left: -224px;
    width: 270px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

ul li.maps:hover {
    left: 0px;

    transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.navbar-nav {
	float: none !important;
}

ul li a:link {
	color: #333 !important;
	text-decoration: none !important;
}


ul li a:active {
	color: #333 !important;
	text-decoration: none !important;
}

ul li a:visited {
	color: #333 !important;
	text-decoration: none !important;
}

ul li.servicios a {
	background-color: rgba(100, 181, 246, 0.8); /*#7986cb*/
	border-bottom: 3px solid #5c6bc0;
}

ul li.history a {
	background-color: rgba(220, 231, 117, 0.8); /*#dce775*/
	border-bottom: 3px solid #d4e157;
}

ul li.maps a {
	background-color: rgba(255, 183, 0, 0.8); /*#ffb74d*/
	border-bottom: 3px solid #ffa726;	
}

ul li.about a {
	background-color: rgba(149, 117, 205, 0.8); /*#ba68c8*/
	border-bottom: 3px solid #ab47bc;
}

ul li.contact a {
	background-color: rgba(129, 199, 132, 0.8); /*#81c784*/
	border-bottom: 3px solid #66bb6a;
}

footer {
	text-align: center;
	padding: 8px 0px 12px 0px;
	/*background: #f5f5f5;*/
	font-size: 16px !important;
	font-family: "notoBold";
}

footer a {
 color: #333;
}

footer a:hover {
	text-decoration: none !important;
}

footer i {
	margin-right: 5px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(54, 116, 173, 0.7);
    width: 50px;
    height: 50px;
    display: none;
    text-decoration: none;

    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    /*border: 1px solid #3674ad;*/

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    z-index: 500;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(54, 116, 173, 0.9);
}

#return-to-top:hover i {
    color: #fff;
}

@media screen and (min-width:768px) {
	#return-to-top {
		display: none !important;
	}	
}